# Copyright (C) 2020 Sebastian Pipping <sebastian@pipping.org>
# Licensed under the MIT license

name: Run pre-commit on all files

on:
  pull_request:
  push:
  schedule:
    - cron: '0 16 * * 5'  # Every Friday at 16:00

jobs:
  run_pre_commit:
    name: Run pre-commit on all files
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2.4.0

      - name: Set up Python 3.10
        uses: actions/setup-python@v2.3.2
        with:
          python-version: '3.10'

      - name: Install pre-commit
        run: |-
          pip install \
            --disable-pip-version-check \
            --user \
            --no-warn-script-location \
            pre-commit
          echo "PATH=${HOME}/.local/bin:${PATH}" >> "${GITHUB_ENV}"

      - name: Install pre-commit hooks
        run: |-
          pre-commit install --install-hooks

      - name: Run pre-commit on all files
        run: |-
          pre-commit run --all-files
