# Copyright (C) 2021 Sebastian Pipping <sebastian@pipping.org>
# Licensed under the MIT license

name: Run tox

on:
  pull_request:
  push:
  schedule:
    - cron: '0 16 * * 5'  # Every Friday at 16:00

jobs:
  run_tox:
    name: Run tox
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        python-version:
          - 3.9  # oldest supported version
          - '3.10'  # includes tox env about code coverage

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548  # v6.1.0
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install tox
        run: |-
          pip install \
            --disable-pip-version-check \
            --user \
            --no-warn-script-location \
            tox
          echo "PATH=${HOME}/.local/bin:${PATH}" >> "${GITHUB_ENV}"

      - name: Run tox (environments matching Python ${{ matrix.python-version }})
        run: |-
          set -x
          python_version_without_dot="$(sed 's,\.,,' <<< "${{ matrix.python-version }}")"
          function join_by { local IFS="$1"; shift; echo "$*"; }
          tox_envs=( $(tox --listenvs | fgrep "py${python_version_without_dot}-") )
          tox -e "$(join_by ',' "${tox_envs[@]}")"
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
